# assets/
src/data_move.cpp
src/data_poke.cpp
src/data_poke_asset.cpp
src/data_poke_flavor.cpp

tags

build_output/**
app/*

valgrind_logs
filtered_log.txt

CMakeFiles/
CMakeFiles
cmake_install.cmake
CMakeCache.txt
resources.qrc.depends
Makefile

build/
AppDir/
data/

.qt
.cache
compile_commands.json

*.log

__pycache__/
*.pyc

*.xcf
*.json

*.user
*.autosave
