# assets/
src/data_move.cpp
src/data_poke.cpp
src/data_poke_asset.cpp
src/data_poke_flavor.cpp

CMakeFiles/
scripts/
build/
AppDir/
data/

*.log

__pycache__/
*.pyc

*.xcf
*.json

*.user
*.autosave
.qt
.cache
compile_commands.json
