assets/

src/data_move.cpp
src/data_poke.cpp
src/data_poke_asset.cpp
src/data_poke_flavor.cpp

filter_valgrind_log.sh
move_names_longer_than_eight_characters.txt

wipe_github_actions.sh

cppresults.txt
tags

build_output/**
build_linux/
build_windows/
build_macos/

app/*

valgrind_logs
filtered_log.txt

CMakeFiles/
CMakeFiles
cmake_install.cmake
CMakeCache.txt
resources.qrc.depends
Makefile

build/
AppDir/
data/

.qt
.cache
compile_commands.json

*.log

__pycache__/
*.pyc

*.xcf
*.json

*.user
*.autosave
build_output/
*.AppImage
qrc_resources.cpp
